events_en_US =
(
	{
		entity_name = "cpu",
		fields =
		(
			{
				metric = "total_used_per";
				description = "Too high cpu utilization(%.2f%%).";
			}
		)
	},
	{
		entity_name = "mem",
		fields =
		(
			{
				metric = "util";
				description = "Too high mem utilization(%.2f%%).";
			},
			{
				metric = "swap_util";
				description = "Too high swap utilization(%.2f%%).";
			}
		)
	},
	{
		entity_name = "fs",
		fields =
		(
			{
				metric = "IUsePer";
				description = "Too many Inodes consumed(%d%%).";
			},
			{
				metric = "UsePer";
				description = "Too many Blocks used(%d%%).";
			}
		)
	},
	{
		entity_name = "disk",
		fields =
		(
			{
				metric = "util";
				description = "Disk device saturated(%.2f%%).";
			}
		)
	},
	{
		entity_name = "nic",
		fields =
		(
			{
				metric = "tx_dropped";
				description = "net device tx queue drops(%llu).";
			},
			{
				metric = "rx_dropped";
				description = "net device rx queue drops(%llu).";
			},
			{
				metric = "tx_errs";
				description = "net device tx queue errors(%llu).";
			},
			{
				metric = "rx_errs";
				description = "net device rx queue errors(%llu).";
			}
		)
	},
	{
		entity_name = "tcp_link",
		fields =
		(
			{
				metric = "rcv_wnd";
				description = "TCP zero receive windows.";
			},
			{
				metric = "snd_wnd";
				description = "TCP zero send windows.";
			},
			{
				metric = "avl_snd_wnd";
				description = "TCP zero available send windows.";
			},
			{
				metric = "tcp_oom";
				description = "TCP out of memory(%u).";
			},
			{
				metric = "backlog_drops";
				description = "TCP backlog queue drops(%u).";
			},
			{
				metric = "filter_drops";
				description = "TCP filter drops(%u).";
			},
			{
				metric = "sk_drops";
				description = "Number of lost packets in the TCP protocol stack(%u).";
			},
			{
				metric = "lost_out";
				description = "Number of lost segments estimated by TCP congestion(%u).";
			},
			{
				metric = "sacked_out";
				description = "Number of out-of-order TCP packets (SACK) or number of repeated TCP ACKs (NO SACK)(%u).";
			},
			{
				metric = "syn_srtt";
				description = "TCP connection establish timed out(%u us).";
			}
		)
	},
	{
		entity_name = "endpoint",
		fields =
		(
			{
				metric = "listendrop";
				description = "TCP listen drops(%lu).";
			},
			{
				metric = "accept_overflow";
				description = "TCP accept queue overflow(%lu).";
			},
			{
				metric = "syn_overflow";
				description = "TCP syn queue overflow(%lu).";
			},
			{
				metric = "passive_open_failed";
				description = "TCP passive open failed(%lu).";
			},
			{
				metric = "active_open_failed";
				description = "TCP active open failed(%lu).";
			},
			{
				metric = "bind_rcv_drops";
				description = "UDP(S) queue drops(%lu).";
			},
			{
				metric = "udp_rcv_drops";
				description = "UDP(C) queue drops(%lu).";
			},
			{
				metric = "lost_synacks";
				description = "TCP connection setup failure due to loss of SYN/ACK(%lu).";
			},
			{
				metric = "retran_synacks";
				description = "TCP SYN/ACK retransmission occurs.(%lu).";
			}
		)
	},
	{
		entity_name = "thread",
		fields =
		(
			{
				metric = "off_cpu_ns";
				description = "Process(COMM:%s TID:%d) is preempted(COMM:%s PID:%d) and off-CPU %llu ns.";
			}
		)
	},
	{
		entity_name = "proc",
		fields =
		(
			{
				metric = "syscall_failed";
				description = "Process(COMM:%s PID:%u) syscall failed(SysCall-ID:%d RET:%d COUNT:%u).";
			},
			{
				metric = "gethostname_failed";
				description = "Process(COMM:%s PID:%u) gethostname failed(COUNT:%u).";
			},
			{
				metric = "iowait_us";
				description = "Process(COMM:%s PID:%u) iowait %llu us.";
			},
			{
				metric = "hang_count";
				description = "Process(COMM:%s PID:%u) hang count %u.";
			},
			{
				metric = "bio_err_count";
				description = "Process(COMM:%s PID:%u) bio error %u.";
			},
			{
				metric = "sched_systime";
				description = "CPU %s sys-state.(CPU = %d, Comm = %s, PID = %u, Latency = %llums).";
			},
			{
				metric = "sched_syscall";
				description = "COMM: %s syscall %s.(CPU = %d, PID = %u, SYSID = %u, Latency = %llums, Delay = %llums).";
			}
		)
	},
	{
		entity_name = "block",
		fields =
		(
			{
				metric = "latency_req_max";
				description = "IO latency occurred.(Block %d:%d, COMM %s, PID %u, op: %s, datalen %u, drv_latency %llu, dev_latency %llu)";
			},
			{
				metric = "err_code";
				description = "IO errors occurred.(Block %d:%d, COMM %s, PID %u, op: %s, datalen %u, err_code %d, scsi_err %d, scsi_tmout %d)";
			}
		)
	},
	{
		entity_name = "sli",
		fields =
		(
			{
				metric = "rtt_nsec";
				description = "Process(TID:%d, CIP(%s:%u), SIP(%s:%u)) SLI(%s:%llu) exceed the threshold.";
			}
		)
	}
);

events_zh_CN =
(
	{
		entity_name = "cpu",
		fields =
		(
			{
				metric = "total_used_per";
				description = "过高的CPU占用率(%.2f%%)";
			}
		)
	},
	{
		entity_name = "mem",
		fields =
		(
			{
				metric = "util";
				description = "内存使用率过高(%.2f%%).";
			},
			{
				metric = "swap_util";
				description = "swap内存使用率过高(%.2f%%).";
			}
		)
	},
	{
		entity_name = "fs",
		fields =
		(
			{
				metric = "IUsePer";
				description = "Inode使用率过高(%d%%).";
			},
			{
				metric = "UsePer";
				description = "磁盘使用率过高(%d%%).";
			}
		)
	},
	{
		entity_name = "disk",
		fields =
		(
			{
				metric = "util";
				description = "磁盘设备已饱和(%.2f%%).";
			}
		)
	},
	{
		entity_name = "nic",
		fields =
		(
			{
				metric = "tx_dropped";
				description = "网卡设备tx队列有丢包(%llu).";
			},
			{
				metric = "rx_dropped";
				description = "网卡设备rx队列有丢包(%llu).";
			},
			{
				metric = "tx_errs";
				description = "网卡设备tx队列有错包(%llu).";
			},
			{
				metric = "rx_errs";
				description = "网卡设备rx队列有错包(%llu).";
			}
		)
	},
	{
		entity_name = "tcp_link",
		fields =
		(
			{
				metric = "rcv_wnd";
				description = "TCP零接收窗口.";
			},
			{
				metric = "snd_wnd";
				description = "TCP零发送窗口.";
			},
			{
				metric = "avl_snd_wnd";
				description = "TCP零可用发送窗口.";
			},
			{
				metric = "tcp_oom";
				description = "TCP内存占用超过了系统设置的阈值(oom次数: %u).";
			},
			{
				metric = "backlog_drops";
				description = "TCP连接因backlog队列满导致了丢包(丢包次数: %u).";
			},
			{
				metric = "filter_drops";
				description = "TCP连接经过过滤器发生了丢包(丢包数: %u).";
			},
			{
				metric = "sk_drops";
				description = "TCP连接在TCP协议栈丢包总数(%u).";
			},
			{
				metric = "lost_out";
				description = "TCP拥塞估计的丢包数大于用户设置的丢包阈值(%u).";
			},
			{
				metric = "sacked_out";
				description = "乱序包数(当开启SACK时)或者重复的ACK包数(当不启用SACK时)大于用户设置的丢包阈值(%u).";
			},
			{
				metric = "syn_srtt";
				description = "TCP建连超时(syn_srtt: %u us).";
			}
		)
	},
	{
		entity_name = "endpoint",
		fields =
		(
			{
				metric = "listendrop";
				description = "TCP监听端口丢包(丢包数 %lu).";
			},
			{
				metric = "accept_overflow";
				description = "TCP全连接队列溢出(%lu).";
			},
			{
				metric = "syn_overflow";
				description = "TCP半连接队列溢出(%lu).";
			},
			{
				metric = "passive_open_failed";
				description = "TCP监听端口被动连接失败(%lu).";
			},
			{
				metric = "active_open_failed";
				description = "TCP主动连接失败(%lu).";
			},
			{
				metric = "bind_rcv_drops";
				description = "UDP服务端接收失败(%lu).";
			},
			{
				metric = "udp_rcv_drops";
				description = "UDP客户端接收失败(%lu).";
			},
			{
				metric = "lost_synacks";
				description = "由于丢失了SYN/ACK信号导致TCP建连失败(%lu).";
			},
			{
				metric = "retran_synacks";
				description = "TCP SYN/ACK信号的重传次数不为0(%lu).";
			}
		)
	},
	{
		entity_name = "thread",
		fields =
		(
			{
				metric = "off_cpu_ns";
				description = "线程(COMM:%s TID:%d)被线程(COMM:%s PID:%d)抢占，其offcpu时间为 %llu ns.";
			}
		)
	},
	{
		entity_name = "proc",
		fields =
		(
			{
				metric = "syscall_failed";
				description = "进程(COMM:%s PID:%u)系统调用失败(对应的系统调用号:%d 调用返回值:%d 失败次数:%u).";
			},
			{
				metric = "gethostname_failed";
				description = "进程(COMM:%s PID:%u)获取DNS域名失败(失败次数:%u).";
			},
			{
				metric = "iowait_us";
				description = "进程(COMM:%s PID:%u)的磁盘iowait时间(%llu us)超过用户设置的时延阈值.";
			},
			{
				metric = "hang_count";
				description = "进程(COMM:%s PID:%u)被暂停执行，次数为 %u.";
			},
			{
				metric = "bio_err_count";
				description = "进程(COMM:%s PID:%u)在BIO层的I/O操作有延迟，次数为 %u.";
			},
			{
				metric = "sched_systime";
				description = "进程%s系统态.(CPU号 = %d, 进程名 = %s, 进程号 = %u, 时延 = %llums).";
			},
			{
				metric = "sched_syscall";
				description = "进程:%s 系统调用被其他高优先级任务抢占，目前%s状态.(CPU号 = %d, 进程号 = %u, 系统调用号 = %u, 时延 = %llums, 调度时延 = %llums).";
			}
		)
	},
	{
		entity_name = "block",
		fields =
		(
			{
				metric = "latency_req_max";
				description = "IO操作有延迟(磁盘 %d:%d, 进程名: %s, PID: %u, 操作: %s, 数据长度: %u, 驱动层时延: %llu, 设备层时延: %llu).";
			},
			{
				metric = "err_code";
				description = "IO操作有误(磁盘 %d:%d, 进程名: %s, PID: %u, 操作: %s, 数据长度: %u, 操作错误码: %d, scsi发送命令错误码: %d, scsi命令超时: %d).";
			}
		)
	},
	{
		entity_name = "sli",
		fields =
		(
			{
				metric = "rtt_nsec";
				description = "进程(TID:%d, CIP(%s:%u), SIP(%s:%u))的响应时延SLI(%s:%llu)超过了阈值.";
			}
		)
	}
);