[Unit]
Description=a-ops gala gopher service
After=network-online.target

[Service]
Type=exec
ExecStartPre= +/bin/bash /usr/libexec/gala-gopher/start_pre.sh
ExecStart=/usr/bin/gala-gopher
ExecStartPost= +/bin/bash /usr/libexec/gala-gopher/init_probes.sh --init
ExecStop= +/bin/bash /usr/libexec/gala-gopher/init_probes.sh --save
Restart=on-abnormal
RestartSec=1

[Install]
WantedBy=multi-user.target