apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: gala-gopher
  namespace: {{NAMESPACE}}
  labels:
    app: gala-gopher
spec:
  selector:
    matchLabels:
      name: gala-gopher
  template:
    metadata:
      labels:
        name: gala-gopher
    spec:
      nodeName:
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      imagePullSecrets:
      - name: image-pull-secret
      containers:
      - name: gala-gopher
        image: hub.oepkgs.net/a-ops/gala-gopher-{{ARCH}}:{{TAG}}
        args: []
        imagePullPolicy: Always
        securityContext:
          privileged: true
        volumeMounts:
        - name: host-root
          mountPath: /host
          readOnly: true
        - name: sys
          mountPath: /sys
          readOnly: false
        - name: localtime
          mountPath: /etc/localtime
          readOnly: true
        - name: debugdir
          mountPath: /usr/lib/debug
          readOnly: true
        - name: docker-fs
          mountPath: /var/lib/docker
          readOnly: true
        env:
        - name: GOPHER_HOST_PATH
          value: "/host"
        - name: GOPHER_LOG_LEVEL
          value: "info"
        - name: GOPHER_EVENT_CHANNEL
          value: "kafka"
        - name: GOPHER_META_CHANNEL
          value: "kafka"
        - name: GOPHER_KAKFA_SERVER
          value: "{{KAFKA_SERVER}}"
        - name: GOPHER_METRIC_ADDR
          value: "0.0.0.0"
        - name: GOPHER_METRIC_PORT
          value: "8888"
        - name: GOPHER_REST_PORT
          value: "9999"
        - name: GOPHER_REST_AUTH
          value: "no"
        - name: GOPHER_REST_PRIVATE_KEY
          value: ""
        - name: GOPHER_REST_CERT
          value: ""
        - name: GOPHER_REST_CAFILE
          value: ""
        - name: GOPHER_METRIC_LOGS_TOTAL_SIZE
          value: "100"
        - name: GOPHER_PROBES_INIT
          value: |
            baseinfo {"cmd":{"probe":["cpu","mem","nic","net","disk","fs","proc","host"]},"snoopers":{"proc_name":[{"comm":"^java$","cmdline":""}]},"params":{"report_event":1,"report_period":60},"state":"running"}
            tcp {"cmd":{"probe":["tcp_abnormal","tcp_rtt","tcp_windows","tcp_srtt","tcp_rate","tcp_stats","tcp_delay"]},"snoopers":{"proc_name":[{"comm":"^java$","cmdline":""}]},"params":{"report_event":1,"report_period":60},"state":"running"}
            io {"cmd":{"probe":["io_trace","io_err","io_count","page_cache"]},"params":{"report_event":1,"report_period":30},"state":"running"}
            socket {"cmd":{"probe":["tcp_socket","udp_socket"]},"snoopers":{"proc_name":[{"comm":"java$","cmdline":""}]},"params":{"report_period":30},"state":"running"}
            proc {"cmd":{"probe":["base_metrics","proc_syscall","proc_fs","proc_io","proc_dns","proc_pagecache"]},"snoopers":{"proc_name":[{"comm":"^java$","cmdline":""}]},"params":{"report_period":30},"state":"running"}
            jvm {"cmd":{},"snoopers":{"proc_name":[{"comm":"^java$","cmdline":""}]},"params":{"report_period":30},"state":"running"}'
      hostNetwork: true
      hostPID: true
      dnsPolicy: ClusterFirstWithHostNet
      terminationGracePeriodSeconds: 30
      volumes:
      - name: host-root
        hostPath:
            path: /
            type: Directory
      - name: sys
        hostPath:
            path: /sys
            type: Directory
      - name: localtime
        hostPath:
            path: /etc/localtime
            type: File
      - name: debugdir
        hostPath:
            path: /usr/lib/debug
            type: Directory
      - name: docker-fs
        hostPath:
            path: /var/lib/docker
            type: DirectoryOrCreate
